{% load static %}
{% load grandchallenge_tags %}
{% load sentry_public_dsn from raven %}
{% load placeFavicon from favtags %}
{% load url from grandchallenge_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>
        {% block pageName %}
            {{ main_challenge_name }}
        {% endblock %}
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no'
          name='viewport'/>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <meta name="description"
          content="{{ site.description }}"/>
    <meta name="keywords"
          content="open, science, medical, image, computing, validated"/>

    {% placeFavicon %}

    <script src="{% static "atlantis/js/plugin/webfont/webfont.min.js" %}"></script>
    <script>
        WebFont.load({
            google: {"families": ["Lato:300,400,700,900"]},
            custom: {
                "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"],
                urls: ["{% static "atlantis/css/fonts.min.css" %}"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <link rel="stylesheet"
          href={% static "atlantis/css/bootstrap.min.css" %}>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/buttons/1.5.4/css/buttons.bootstrap4.min.css"
          crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static "atlantis/css/atlantis.min.css" %}">
    <link rel="stylesheet" href="{% static "css/grand-challenge.css" %}">

    {% comment %}
            <script src="https://cdn.ravenjs.com/3.23.2/raven.min.js"
                    crossorigin="anonymous"></script>
            <script>Raven.config('{% sentry_public_dsn %}').install()</script>
    {%  endcomment %}

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async
            src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', "{{ google_analytics_id }}");
    </script>

    <!--   Core JS Files   -->
    <script src="{% static "atlantis/js/core/jquery.3.2.1.min.js" %}"></script>
    <script src="{% static "atlantis/js/core/popper.min.js" %}"></script>
    <script src="{% static "atlantis/js/core/bootstrap.min.js" %}"></script>

    <!-- jQuery UI -->
    <script src="{% static "atlantis/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js" %}"></script>
    <script src="{% static "atlantis/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js" %}"></script>

    <!-- jQuery Scrollbar -->
    <script src="{% static "atlantis/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js" %}"></script>


    <!-- Chart JS -->
    <script src="{% static "atlantis/js/plugin/chart.js/chart.min.js" %}"></script>

    <!-- jQuery Sparkline -->
    <script src="{% static "atlantis/js/plugin/jquery.sparkline/jquery.sparkline.min.js" %}"></script>

    <!-- Chart Circle -->
    <script src="{% static "atlantis/js/plugin/chart-circle/circles.min.js" %}"></script>

    <!-- Datatables -->
    <script src="{% static "atlantis/js/plugin/datatables/datatables.min.js" %}"></script>

    <!-- Bootstrap Notify -->
    <script src="{% static "atlantis/js/plugin/bootstrap-notify/bootstrap-notify.min.js" %}"></script>

    <!-- jQuery Vector Maps -->
    <script src="{% static "atlantis/js/plugin/jqvmap/jquery.vmap.min.js" %}"></script>
    <script src="{% static "atlantis/js/plugin/jqvmap/maps/jquery.vmap.world.js" %}"></script>

    <!-- Sweet Alert -->
    <script src="{% static "atlantis/js/plugin/sweetalert/sweetalert.min.js" %}"></script>

    <!-- Atlantis JS -->
    <script src="{% static "atlantis/js/atlantis.min.js" %}"></script>

    {# Bootstrap 4 column visibility #}
    <script type="text/javascript"
            src="https://cdn.datatables.net/buttons/1.5.4/js/dataTables.buttons.min.js"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/buttons/1.5.4/js/buttons.bootstrap4.min.js"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.min.js"
            crossorigin="anonymous"></script>

    {# Chunked Uploads #}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-file-upload/9.19.1/js/jquery.fileupload.min.js"></script>

    {# Jquery Cookie #}
    <script src="https://cdn.jsdelivr.net/npm/jquery.cookie@1.4.1/jquery.cookie.js"
            integrity="sha256-uEFhyfv3UgzRTnAZ+SEgvYepKKB0FW6RqZLrqfyUNug="
            crossorigin="anonymous"></script>

</head>
<body data-background-color="bg1">

<div class="wrapper">
    <div class="main-header">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="blue2">
            <a class="logo text-capitalize font-weight-bold"
               href="{% url 'home' %}">
                {{ main_challenge_name }}
            </a>
            <button class="navbar-toggler sidenav-toggler ml-auto"
                    type="button" data-toggle="collapse" data-target="collapse"
                    aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon">
						<i class="icon-menu"></i>
					</span>
            </button>
            <button class="topbar-toggler more"><i
                    class="icon-options-vertical"></i></button>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="icon-menu"></i>
                </button>
            </div>
        </div>
        <!-- End Logo Header -->

        <!-- Navbar Header -->
        <nav class="navbar navbar-header navbar-expand-lg"
             data-background-color="blue2">

            <div class="container-fluid">
                <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">
                    {% block loginbutton %}
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown hidden-caret">
                                <a class="dropdown-toggle nav-link"
                                   data-toggle="dropdown" href="#"
                                   aria-expanded="false">
                                    <div class="avatar-sm">
                                        <img src="{{ user.user_profile.get_mugshot_url }}"
                                             alt="Mugshot of {{ user }}"
                                             class="avatar-img rounded-circle">
                                    </div>
                                </a>
                                <ul class="dropdown-menu dropdown-user animated fadeIn">
                                    <div class="dropdown-user-scroll scrollbar-outer">
                                        <li>
                                            <div class="user-box">
                                                <div class="avatar-lg"><img
                                                        src="{{ user.user_profile.get_mugshot_url }}"
                                                        alt="image profile"
                                                        class="avatar-img rounded">
                                                </div>
                                                <div class="u-text">
                                                    <h4>{% firstof user.get_full_name user.username %}</h4>
                                                    <p class="text-muted">
                                                        {{ user.username }}
                                                    </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item"
                                               href="{% url 'userena_profile_detail' user.username %}">
                                                My Profile
                                            </a>
                                            <a class="dropdown-item"
                                               href="{% url 'challenges:users-list' %}">
                                                My Challenges
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item"
                                               href="{% url 'userena_signout' %}?next=/">
                                                Sign Out
                                            </a>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="{% url 'userena_signin' %}?next={{ request.build_absolute_uri }}">
                                    Sign In / Register
                                </a>
                            </li>
                        {% endif %}
                    {% endblock %}
                </ul>
            </div>
        </nav>
        <!-- End Navbar -->
    </div>

    <!-- Sidebar -->
    <div class="sidebar sidebar-style-2">
        <div class="sidebar-wrapper scrollbar scrollbar-inner">
            <div class="sidebar-content">
                <ul class="nav nav-primary">
                    <li class="nav-item {% if request.resolver_match.view_name == 'challenges:list' %}active{% endif %}">
                        <a href="{% url 'challenges:list' %}">
                            <i class="fas fa-th"></i>
                            <p>All Challenges</p>
                        </a>
                    </li>

                    <li class="nav-section">
							<span class="sidebar-mini-icon">
								<i class="fa fa-ellipsis-h"></i>
							</span>
                        <h4 class="text-section">{% firstof site.title site.short_name %}</h4>
                    </li>

                    {% block challengeLinks %} {% endblock %}

                    {% block challengeAdminLinks %} {% endblock %}

                </ul>
            </div>
        </div>
    </div>
    <!-- End Sidebar -->

    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-category">

                    {% block bannerImage %}{% endblock %}

                    <div class="row">
                        <div class="col-12">

                            {% if messages %}
                                <div class="messagelist">
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.level_tag }}">
                                            {% if 'safe' in message.tags %}
                                                {{ message | safe }}
                                            {% else %}
                                                {{ message }}
                                            {% endif %}
                                            <button type="button"
                                                    class="close"
                                                    data-dismiss="alert"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <div class="card">
                                <div class="card-body">
                                    {% block content %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% block footer %}
            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                        <ul class="nav">
                            <li class="nav-item">
                                <a class="nav-link"
                                   href="https://github.com/comic/grand-challenge.org"
                                   title="Join us on Github">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="copyright ml-auto text-capitalize">
                        &copy; 2012-{% now "Y" %} {{ main_challenge_name }}
                    </div>
                </div>
            </footer>
        {% endblock %}

    </div>

</div>

{% block pagejs %}
{% endblock %}

{% block postjs %}

    {# For displaying equations on the site, the safe config is important #}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML,Safe'
            async></script>

    {# Google Geocharts #}
    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>

    <script type='text/javascript'>
        $(document).ready(function () {
            $('table.sortable').dataTable({
                "bJQueryUI": false,
                "sPaginationType": "full_numbers",
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false,
                "bAutoWidth": false
            });
        });

        var forum = document.getElementById('forum_embed');
        if (forum) {
            try {
                forum.src = 'https://groups.google.com/forum/embed/?place=forum/'
                    + forum.dataset['groupname']
                    + '&showsearch=true&showpopout=true&showtabs=false'
                    + '&parenturl=' + encodeURIComponent(window.location.href);
            } catch (e) {
                console.log(e);
            }
        }

        google.charts.load('current', {'packages': ['geochart']});
        google.charts.setOnLoadCallback(drawGeoCharts);

        function drawGeoCharts() {
            google.visualization.mapsApiKey = '{{ geochart_api_key }}';
            var charts = document.querySelectorAll('[data-geochart]');

            for (i = 0; i < charts.length; i++) {
                try {
                    drawGeoChart(charts[i]);
                } catch (err) {
                    console.log(err);
                }
            }
        }

        function drawGeoChart(element) {
            var array = JSON.parse(element.dataset['geochart']);
            var data = google.visualization.arrayToDataTable(array);
            var options = {
                colorAxis: {
                    colors: [
                        '#440154',
                        '#32658e',
                        '#20a486',
                        '#63cb5f',
                        '#a8db34',
                        '#d0e11c',
                        '#e7e419',
                        '#f1e51d',
                        '#f8e621',
                        '#fbe723',
                        '#fbe723',
                        '#fde725',
                        '#fde725',
                        '#fde725',
                        '#fde725',
                        '#fde725'
                    ]
                },
                backgroundColor: '#c9eeff'
            };
            var chart = new google.visualization.GeoChart(element);
            chart.draw(data, options);
        }
    </script>
{% endblock %}

</body>
</html>
