{% extends "base.html" %}
{% load grandchallenge_tags %}
{% load guardian_tags %}
{% load admin_urls %}



{% block additionalCSS %}
    {% if site.skin %}
        /* custom css for this project */
        {% insert_file site.skin %}
    {% endif %}
{% endblock %}

{% block pageName %}
    {{ site.short_name }}
{% endblock %}

{% block bannerImage %}
    {% if site.banner %}
        <div class="row">
            <div class="col-md-10 col-lg-8 ml-auto mr-auto">
                <div class="card">
                    <a style="width: 100%;"
                       href="{% url 'challenge-homepage' challenge_short_name=site.short_name %}">
                        <img src="{{ site.banner.url }}" class="banner-image">
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block challengeLinks %}
    {% block additionalNavItems %}{% endblock %}
    {% for page in pages %}
        {% if not page.hidden %}
            <li class="nav-item text-capitalize {% if page == currentpage %}active{% endif %}">
                <a href="{{ page.get_absolute_url }}">
                    <i class="fas fa-file"></i>
                    <p>{% firstof page.display_title page.title %}</p>
                </a>
            </li>
        {% endif %}
    {% endfor %}

    {% if site.use_registration_page %}
        <li class="nav-item">
            <a href="{% url 'participants:registration-create' challenge_short_name=site.short_name %}">
                <i class="fas fa-sign-in-alt"></i>
                <p>Join</p>
            </a>
        </li>
    {% endif %}

    {% if site.use_evaluation %}

        {% if "change_challenge" in challenge_perms or user_is_participant %}

            {% if site.evaluation_config.use_teams %}
                <li class="nav-item">
                    <a href="{% url 'teams:list' challenge_short_name=site.short_name %}">
                        <i class="fas fa-users"></i>
                        <p>Teams</p>
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a href="{% url 'evaluation:submission-create' challenge_short_name=site.short_name %}">
                    <i class="fas fa-terminal"></i>
                    <p>Submit Your Predictions</p>
                </a>
            </li>

        {% endif %}
        <li class="nav-item">
            <a href="{% url 'evaluation:result-list' challenge_short_name=site.short_name %}">
                <i class="fas fa-trophy"></i>
                <p>Leaderboard</p>
            </a>
        </li>

    {% endif %}
{% endblock %}

{% block challengeAdminLinks %}
    {% if "change_challenge" in challenge_perms %}
        <li class="nav-item">
            <a data-toggle="collapse" href="#challengeAdministration">
                <i class="fas fa-cog"></i>
                <p>Challenge Admin</p>
                <span class="caret"></span>
            </a>
            <div class="collapse" id="challengeAdministration">
                <ul class="nav nav-collapse">
                    <li>
                        <a href="{% url 'update' challenge_short_name=site.short_name %}">
                            Challenge Settings
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'pages:list' challenge_short_name=site.short_name %}">
                            Pages
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'admins:list' challenge_short_name=site.short_name %}">
                            Admins
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'participants:list' challenge_short_name=site.short_name %}">
                            Participants
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'participants:registration-list' challenge_short_name=site.short_name %}">
                            Participation Requests
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'uploads:list' challenge_short_name=site.short_name %}">
                            Uploaded Files
                        </a>
                    </li>
                    {% if site.use_evaluation %}
                        <li>
                            <a href="{% url 'evaluation:config-update' challenge_short_name=site.short_name %}">
                                Evaluation Settings
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'evaluation:method-list' challenge_short_name=site.short_name %}">
                                Evaluation Methods
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'evaluation:submission-list' challenge_short_name=site.short_name %}">
                                Evaluation Submissions
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'evaluation:job-list' challenge_short_name=site.short_name %}">
                                Evaluation Jobs
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </li>
    {% endif %}
{% endblock %}


{% block content %}
    {% block contentTitle %}
    {% endblock %}

    {% block pagecontent %}
        <p>redirect to first page here.</p>
    {% endblock %}
{% endblock %}
