/* Used for images on the challenge list page */
.rounded-top-left {
    border-top-left-radius: 3px;
}

/* Fix display of error messages on forms. See: https://github.com/twbs/bootstrap/issues/23454 */
.invalid-feedback {
    display: block;
}

/* Fix checkbox bug in atlantis.css */
.form-check [type=checkbox]:checked, .form-check [type=checkbox]:not(:checked) {
    position: relative;
    left: 0;
}

/* Fix the logo text colour */
.main-header .logo-header[data-background-color] .logo {
    color: #fff!important;
}

.main-header .logo-header[data-background-color=white] .logo {
    color: #8d9498!important;
}

/* Small correction to text logo position */
.logo {
    padding-top: 1px;
    letter-spacing: 0.6px;
}

.banner-image {
    width: 100%;
    border-radius: 6px;
}
