{% extends 'nobanner.html' %}
{% load static %}
{% load url from grandchallenge_tags %}
{% load humanize %}
{% load thumbnail %}

{% block pageName %}All Challenges{% endblock %}

{% block challengeNav %}
    <li class="nav-section">
		<span class="sidebar-mini-icon">
            <i class="fa fa-ellipsis-h"></i>
        </span>
        <h4 class="text-section">Filters</h4>
    </li>

    <form class="d-none">
        <!--Hidden checkbox to display all projectlinks by default -->
        <label class="form-check-label">
            <input type="checkbox" class="include projectfilterbutton"
                   checked disabled
                   id="projectlink">
        </label>
    </form>

    <li class="nav-item">
        <a class="collapsed"
           data-toggle="collapse"
           href="#collapseHost">
            <i class="fas fa-server">
            </i>
            <p>Host</p>
            <span class="caret"></span>
        </a>
        <div id="collapseHost" class="collapse">
            <form>
                <ul>
                    {% for host in hosts %}
                        <li>
                            {# Note that the host filter works slightly differently as we have no filter_tag attribute #}
                            <label id="{{ host.filter_tag }}"
                                   class="form-check-label">
                                <input type="checkbox"
                                       class="filter projectfilterbutton"
                                       value="{{ host.host }}"
                                       id="{{ host.filter_tag }}">
                                <span>{{ host.host }}</span><span
                                    class="counter ml-1 badge badge-pill badge-info"
                                    id="{{ host.filter_tag }}"></span>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </li>

    <li class="nav-item">
        <a class="collapsed"
           data-toggle="collapse"
           href="#collapseModality">
            <i class="fas fa-x-ray">
            </i>
            <p>Modality</p>
            <span class="caret"></span>
        </a>
        <div id="collapseModality" class="collapse">
            <form>
                <ul>
                    {% for modality in modalities %}
                        <li>
                            <label id="{{ modality.filter_tag }}"
                                   class="form-check-label">
                                <input type="checkbox"
                                       class="filter projectfilterbutton"
                                       value="{{ modality.modality }}"
                                       id="{{ modality.filter_tag }}">
                                <span>{{ modality.modality }}</span><span
                                    class="counter ml-1 badge badge-info"
                                    id="{{ modality.filter_tag }}"></span>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </li>

    <li class="nav-item">
        <a class="collapsed"
           data-toggle="collapse"
           href="#collapseTask">
            <i class="fas fa-flask"></i>
            <p>Task type</p>
            <span class="caret"></span>
        </a>
        <div id="collapseTask" class="collapse">
            <form>
                <ul>
                    {% for task in task_types %}
                        <li>
                            <label id="{{ task.filter_tag }}"
                                   class="">
                                <input type="checkbox"
                                       class="filter projectfilterbutton"
                                       id="{{ task.filter_tag }}"
                                       value="{{ task.type }}">
                                <span>{{ task.type }}</span>
                                <span
                                        class="counter ml-1 badge badge-pill badge-info"
                                        id="{{ task.filter_tag }}"></span>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </form>
        </div>
    </li>

    <li class="nav-item">
        <a class="collapsed"
           data-toggle="collapse"
           href="#collapseStructure"
           id="headingStructure">
            <i class="fas fa-brain"></i>
            <p>Structure</p>
            <span class="caret"></span>
        </a>
        <div id="collapseStructure" class="collapse">
            <form>
                <ul>
                    {% for r in body_regions %}
                        <li>
                            <label id="{{ r.filter_tag }}"
                                   class="form-check-label">
                                <input type="checkbox"
                                       class="filter projectfilterbutton"
                                       id="{{ r.filter_tag }}"
                                       value="{{ r.region }}">
                                <span>{{ r.region }}</span>
                                <span
                                        class="counter ml-1 badge badge-pill badge-info"
                                        id="{{ r.filter_tag }}"></span>
                            </label>
                            <ul>
                                {% for s in r.bodystructure_set.all %}
                                    <li>
                                        <label id="{{ s.filter_tag }}"
                                               class="form-check-label">
                                            <input type="checkbox"
                                                   class="filter projectfilterbutton"
                                                   id="{{ s.filter_tag }}"
                                                   value="{{ s.structure }}">
                                            <span>{{ s.structure }}</span>
                                            <span
                                                    class="counter ml-1 badge badge-pill badge-info"
                                                    id="{{ s.filter_tag }}"></span>
                                        </label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </form>

        </div>
    </li>

{% endblock %}

{% block pagecontent %}

    <h1>All Challenges</h1>

    <p>Here is an overview of all challenges that have been organized within
        the area of medical image analysis that we are aware of. If you know
        any study that would fit in this overview, or want to advertise your
        challenge, please send an email to support@grand-challenge.org and we
        will add the challenge to the list on this page.</p>

    {% if request.user.is_staff %}
        <p>
            <a class="btn btn-primary"
               href="{% url 'challenges:external-create' %}">
                <i class="fas fa-plus"></i> Add an external challenge
            </a>
            <a class="btn btn-primary"
               href="{% url 'challenges:external-list' %}">
                <i class="fas fa-edit"></i> Edit external challenges
            </a>
        </p>
    {% endif %}

    <div>

        <span id="info m-1"
          class="badge badge-info">Displaying <span
            class="counter" id="projectlink"></span>
                    of <span id="counter-total"></span> Challenges</span>

        <span class="badge badge-info m-1">
            Active Filters:
            <span class="counter" id="active_filter_count"></span>
        </span>

        <div class="w-100"></div>

        <div id="all_active_filters" class="d-inline-block m-1"></div>

        <button id="btn_reset_filters"
                class="btn btn-danger btn-sm"
                value="Reset filters"
                style="display:none;">
            Reset filters
        </button>

    </div>


    <div>

        {% for year, challenges in challenges_by_year.items %}

            <div>

                <div class='yearHeader' id='{{ year }}'>
                    <h2>{{ year }}</h2>
                </div>

                <div class='row'>
                    {% for challenge in challenges %}
                        <div class="col-12 col-md-6 col-lg-4 mb-3 projectlink {{ challenge.filter_classes|join:" " }} {{ challenge.year }}">
                            <div class="card" style="height:400px">
                                <a id="{{ challenge.short_name }}"
                                   title="{% firstof challenge.title challenge.short_name %}"
                                   href="{{ challenge.get_absolute_url }}"
                                   style="display:block;">
                                    <div class="card-header small p-0 d-flex flex-row flex-nowrap align-items-center">

                                        <img class="thumbnail lazyload rounded-top-left flex-shrink-0"
                                             alt="{{ challenge.short_name }} logo"
                                             src="{% static 'images/3697E1-0.8.png' %}"
                                                {% if challenge.logo %}
                                                    {# Note, thumbnail class is 5rem/80px in core.css #}
                                                    {% thumbnail challenge.logo "80x80" crop="center" as im %}
                                             data-src="{{ im.url }}"
                                                    {% endthumbnail %}
                                                {% else %}
                                             data-src="{{ challenge.gravatar_url }}"
                                                {% endif %}
                                        >

                                        <h3 class="m-0 px-3 flex-shrink-1">
                                            {% firstof challenge.title|truncatewords:3 challenge.short_name|truncatewords:3 %}
                                        </h3>
                                    </div>
                                </a>

                                <div class="card-body small"
                                     style="overflow: hidden; height:250px; line-height:1.5em">
                                    {{ challenge.description|truncatewords:35 }}
                                </div>

                                <div class="card-footer small"
                                     style="line-height:1.5em">

                                    <dl class="inline mb-0">

                                        {% if challenge.educational %}
                                            <dd>
                                                <i class="fas fa-university fa-2x"></i>
                                            </dd>
                                        {% endif %}

                                        {% if challenge.cached_num_participants %}
                                            <dt>Participants</dt>
                                            <dd>{{ challenge.cached_num_participants|intcomma }}</dd>
                                        {% endif %}

                                        {% if challenge.use_evaluation and challenge.cached_num_results %}
                                            <dt>Results</dt>
                                            <dd>
                                                <a href="{% url 'evaluation:result-list' challenge_short_name=challenge.short_name %}">{{ challenge.cached_num_results }}</a>
                                            </dd>
                                            <dt>Latest Result</dt>
                                            <dd>
                                                <a href="{% url 'evaluation:result-list' challenge_short_name=challenge.short_name %}">{{ challenge.cached_latest_result|naturaltime }}</a>
                                            </dd>
                                        {% endif %}

                                        {% if challenge.upcoming_workshop_date %}
                                            <dt>Workshop</dt>
                                            <dd>
                                                {{ challenge.upcoming_workshop_date }}
                                            </dd>
                                        {% endif %}

                                        {% if challenge.event_name %}
                                            <dt>Associated with</dt>
                                            <dd>
                                                <a
                                                        href="{{ challenge.event_url }}">{{ challenge.event_name }}</a>
                                            </dd>
                                        {% endif %}


                                        {% if challenge.publication_journal_name or challenge.publication_url %}
                                            <dt>Article</dt>
                                            <dd>
                                                <a
                                                        href="{{ challenge.publication_url }}">{% firstof challenge.publication_journal_name challenge.publication_url %}</a>
                                            </dd>
                                        {% endif %}

                                        {% if challenge.host_link %}
                                            <dt>Hosted on</dt>
                                            <dd>
                                                {{ challenge.host_link|safe }}
                                            </dd>
                                        {% endif %}

                                    </dl>

                                    {% if not challenge.hosted_on_comic %}
                                        {% if request.user.is_staff %}
                                            <div>
                                                <a class="btn btn-primary btn-sm"
                                                   href="{% url 'challenges:external-update' challenge.short_name %}">
                                                    <i class="fas fa-edit"></i>
                                                    Edit
                                                </a>
                                                <a class="btn btn-danger btn-sm"
                                                   href="{% url 'challenges:external-delete' challenge.short_name %}">
                                                    <i class="fas fa-trash"></i>
                                                    Delete
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block deferred-js %}
    {{ block.super }}
    <script type="text/javascript"
            src="{% static "js/challenges/challenge_list_filters.js" %}"></script>
{% endblock %}
